<app-steps-form2/>

<div>
  <mat-stepper linear #stepper>
    <mat-step label="General Info.">
      <form>
        <div class="header">
          <h3>General Information</h3>
          <p>Let's fill out the basics information of the contract.</p>
        </div>
        <div>
          <span>Team</span>
          <mat-form-field appearance="outline">
            <mat-select placeholder="Filllo Team">
              @for (team of teams; track team) {
                <mat-option [value]="team">{{ team }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <span>Contact Name</span>
          <mat-form-field appearance="outline">
            <input matInput placeholder="Contact for Product Design">
          </mat-form-field>
        </div>
        <div class="split-col">
          <div class="col">
            <span>Contactor's Country</span>
            <mat-form-field appearance="outline">
              <mat-select placeholder="Canada">
                @for (country of countries; track country) {
                  <mat-option [value]="country">{{ country }}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col">
            <span>State</span>
            <mat-form-field appearance="outline">
              <mat-select placeholder="Toronto">
                @for (state of states; track state) {
                  <mat-option [value]="state">{{ state }}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div>
          <span>Job Title</span>
          <mat-form-field appearance="outline">
            <mat-select placeholder="Product Designer">
              @for (state of states; track state) {
                <mat-option [value]="state">{{ state }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <span>Area of Work</span>
          <div class="cr-editor">
            <ngx-editor-menu [editor]="editor"></ngx-editor-menu>
            <ngx-editor
              placeholder="Conducting market research, gathering user insights and understanding customer."
              [editor]="editor"></ngx-editor>
          </div>
        </div>
        <div>
          <span>Start Date</span>
          <mat-form-field appearance="outline">
            <input matInput placeholder="Feb 5th, 2023"
                   [matDatepicker]="picker">
            <mat-datepicker-toggle matIconSuffix
                                   [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <button class="nav-button" mat-flat-button matStepperNext>Next</button>
      </form>
    </mat-step>
    <mat-step label="Payment Info">
      <form>
        <div class="header">
          <h3>Add Payment Information</h3>
          <p>Fill out the payment information for this contract</p>
        </div>
        <div>
          <span>Payment Currency</span>
          <mat-form-field appearance="outline">
            <mat-select placeholder="USD" [(ngModel)]="currency"
                        [ngModelOptions]="{standalone: true}">
              @for (currency of currencies; track currency) {
                <mat-option [value]="currency">{{ currency }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
        <div class="row">
          <h4>Milestones</h4>
          <button mat-stroked-button>Add Milestone</button>
        </div>
        <div>
          <span>Milestone Name</span>
          <mat-form-field appearance="outline">
            <mat-select placeholder="Complete Homepage">
              @for (state of states; track state) {
                <mat-option [value]="state">{{ state }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <span>Work Description</span>
          <div class="cr-editor">
            <ngx-editor-menu [editor]="editor2"></ngx-editor-menu>
            <ngx-editor [editor]="editor2"></ngx-editor>
          </div>
        </div>
        <div>
          <span>Amount to Pay</span>
          <mat-form-field appearance="outline">
            <span matTextPrefix>{{ currency }} &nbsp;</span>
            <input type="number" matInput placeholder="$250">
          </mat-form-field>
        </div>
        <div>
          <!--          Could customized more -->
          <div class="center">
            <ngx-file-drop
              dropZoneLabel="Drop files here"
              (onFileDrop)="dropped($event)"
              (onFileOver)="fileOver($event)"
              (onFileLeave)="fileLeave($event)">
              <ng-template ngx-file-drop-content-tmp
                           let-openFileSelector="openFileSelector">
                <div class="drop-content">
                  <p>
                    Drag & Drop or
                    <span class="choose-file" (click)="openFileSelector()">Choose file</span>
                    to upload
                  </p>
                  <p class="file-types">JPG, PNG, or PDF</p>

                  <div *ngIf="files.length > 0" class="file-list">
                    <div *ngFor="let file of files">{{ file.relativePath }}</div>
                  </div>
                </div>
              </ng-template>
            </ngx-file-drop>
          </div>
        </div>
        <button class="nav-button" mat-flat-button matStepperNext>Next</button>
      </form>
    </mat-step>
    <mat-step label="Benefits & Compliance">
      <form>
        <div class="header">
          <h3>Compliance & Others</h3>
          <p>Fill out the compliance details</p>
        </div>
        <div>
          <span>Termination Date</span>
          <mat-form-field appearance="outline">
            <input matInput placeholder="May 5th, 2023"
                   [matDatepicker]="picker2">
            <mat-datepicker-toggle matIconSuffix
                                   [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
        </div>
        <div>
          <span>Notice Period</span>
          <mat-form-field appearance="outline">
            <mat-select placeholder="10 Weeks">
              @for (state of states; track state) {
                <mat-option [value]="state">{{ state }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <div class="row">
            <h4>Stack Offer</h4>
            <button mat-stroked-button>Add</button>
          </div>
          <p>Contract with that will be paid as the get. Contract with that will
            be paid as the get completed.</p>
        </div>
        <div>
          <span>Contract Compliance</span>
          <div class="col">
            <mat-checkbox>User ProDeel Contract</mat-checkbox>
            <mat-checkbox disabled checked>User Custome Contract</mat-checkbox>
          </div>
        </div>
        <div>
          <section class="mt-10">
            <mat-checkbox><b>Compliance Documents</b></mat-checkbox>
          </section>
          <p>Contract with that will be paid as the get. Contract with that will
            be paid as the get completed.</p>
        </div>
        <button class="nav-button" mat-flat-button (click)="stepper.reset()">
          Create Contract
        </button>
      </form>
    </mat-step>
    <mat-step label="Review & Sign">
    </mat-step>
    <mat-step label="Contractor Sign">
    </mat-step>
    <mat-step label="Activated">
    </mat-step>
  </mat-stepper>
</div>
